<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
  </head>
  <body>
    <h1>News Articles</h1>
    <ul>
      {% for post in posts %}
      <li>
        <h2>{{ post.id }}</h2>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
      </li>
      {% endfor %}
    </ul>
  </body>
</html> -->

<!-- <form method="get" action=".">
  <input
    type="text"
    name="q"
    value="{{ query }}"
    placeholder="Enter text here..."
  />
  <button type="submit">Search</button>
</form>
<ul>
  {% for content in results %}
  <li>{{ content }}</li>
  {% endfor %}
</ul> -->

<!DOCTYPE html>
<html>
  <head>
    <title>Article Search</title>
  </head>
  <body>
    <form method="post" action=".">
      <textarea
        name="content"
        placeholder="Enter article content..."
      ></textarea>
      <button type="submit">Search</button>
    </form>
    <ul>
      {% for title, content in results %}
      <li><strong>{{ title }}</strong> - {{ content }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
